<html>
    <head>
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    </head>
    <body>
        <div id="login">
            <img src="{{url_for('static', filename='salmon_logo.png')}}" height="100px">
            <form method='post'>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }} <br>
                    {{ form.email() }} <br>
                    {{ form.password.label }} <br>
                    {{ form.password() }} <br>
                    {{ form.password2.label }} <br>
                    {{ form.password2() }} <br>
                    {{ form.submit() }}
                </p>
            </form>
        </div>
    </body>
</html>